{% extends 'base_kasir.html' %}
{% block content %}
<h2>Data Product</h2>
<a href="{{ url_for('create_product') }}">Tambah Product</a>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<table border="1">
    <tr>
        <th>ID</th><th>Code</th><th>Category</th><th>Product</th><th>Price</th><th>Stock</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[1] }}</td>
        <td>{{ product[2] }}</td>
        <td>{{ product[3] }}</td>
        <td>{{ product[4] }}</td>
        <td>
            <a href="{{ url_for('edit_product', id=product[0]) }}">Edit</a>
            <form action="{{ url_for('delete_product', id=product[0]) }}" method="POST" onsubmit="return confirm('Yakin ingin menghapus product ini?')">
    <button type="submit">Hapus</button>
</form>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
