{% extends 'base.html' %}
{% block content %}
<h2>{{ 'Edit User' if user else 'Tambah User' }}</h2>
<form method="POST">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <label>Username:</label><br>
    <input type="text" name="username" value="{{ user[1] if user else '' }}"><br>
    <label>Password:</label><br>
    <input type="text" name="password" value="{{ user[2] if user else '' }}"><br>
    <label>Role:</label><br>
    <select name="role" value="{{ user[3] if user else '' }}">
        <option value="admin">Admin</option>
        <option value="kasir">Kasir</option>
        <option value="owner">Owner</option>
    </select><br><br>
    <button type="submit">Simpan</button>
</form>
{% endblock %}
